.game_image {
  display: grid;

  img {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    display: block;

    &.cover {
      width: 100%;
      aspect-ratio: 222 / 125;
      object-fit: cover;
      object-position: center center;
    }

    &.logo {
      max-height: 50%;
      max-width: 40%;
    }
  }
}
