#add-game-modal {
  .install-folder {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    span {
      color: gray;

      &[contenteditable] {
        padding: 2px 0;
        color: black;
        cursor: pointer;
        max-width: 350px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
